<% provide(:title, 'Επικοινωνία') %>
<div class="top">	
	<h1>StaticPages#contact</h1>
	<p>Find me in app/views/static_pages/contact.html.erb</p>
	<%= @res.to_s.gsub("product","Το τζακποτ του tzoker είναι:").gsub("{","").gsub("=>"," ").gsub("}","").gsub("poson","το ποσό των:").gsub("\"","") %>
</div>