    <% provide(:title, 'Αρχική') %>
    
    <%= render 'layouts/carousel' %>
    <%= render 'layouts/threecolumn' %>
    <h3>Ειδήσεις και Events - <span class="text-muted">Μόνο από το πρακτορείο μας για έξυπνους παίχτες.</span></h3>
   	<%= render 'shared/feed' %>

      