<% provide(:title, 'Το Πρακτορείο μας') %>
  <%= render 'layouts/carousel' %>
<div class="container marketing">
  
  <div class="row featurette">
    <div class="col-md-5">
      <h2 class="featurette-heading">Το Πρακτορείο μας. <span class="text-muted">Καλώς ήρθατε</span></h2>
      <p>Το πρακτορείο μας βρίσκεται σε ένα υπερσύγχρονο περιβάλλον στην καρδιά της πόλης μας, εύκολα προσβάσιμο από παντού. 
Σε ένα χώρο 90m , παρέχουμε τις πλέον ολοκληρωμένες υπηρεσίες στον τομέα των τυχερών παιχνιδιών. 24 οθόνες TV, 3 τερματικά ΟΠΑΠ, 4 υπολογιστές για άμεση ενημέρωση από το ίντερνετ, ασύρματο δίκτυο wifi για ελεύθερη πρόσβαση στο διαδίκτυο , είναι κάποιες από τις παροχές στο κοινό που μας εμπιστεύεται.
Η άμεση εξυπηρέτηση, το ζεστό και φιλικό περιβάλλον αλλά και οι υψηλών προδιαγραφών υπηρεσίες μας, έχουν κάνει το πρακτορείο MasterBet , την πρώτη επιλογή του παικτικού κοινού.
Για πάνω από 24 χρόνια, το πρακτορείο μας εξελίσσεται και προσαρμόζεται συνεχώς στις μεταβαλλόμενες συνθήκες των παιχνιδιών , αυξάνοντας σταθερά την απόδοση και την ποιότητα των παρεχόμενων υπηρεσιών. Από το 1997, προστίθεται στις λειτουργίες μας και η πρακτόρευση των παιχνιδιών του ΟΔΙΕ, επενδύοντας στρατηγικά στη δυναμική μας.
Το 2006 ξεκινάει η λειτουργία μας ως Master Bet πρακτορείο τυχερών παιχνιδιών ΟΠΑΠ. Ο σύγχρονος τεχνολογικά διαμορφωμένος χώρος, οι νέες μας εγκαταστάσεις, οι υψηλού επιπέδου υπηρεσίες καθώς και το πρωτοποριακό πακέτο των εφαρμογών της εταιρείας Master Bet, συμπληρώνουν τις πλέον αναβαθμισμένες και ανανεωμένες παροχές στο χώρο του πρακτορείου μας.
Οι εφαρμογές KiNOPRO, LiVEPRO και PROγνωση αποτελούν μοναδικά προϊόντα προβολής ζωντανών πληροφοριών και στατιστικών για τα παιχνίδια ΚΙΝΟ και ΠΑΜΕ ΣΤΟΙΧΗΜΑ. Ο παίκτης έχει τη δυνατότητα πρόσβασης στις ολοκληρωμένες και συγκεντρωμένες, κατά τρόπο εύχρηστο και ευπαρουσίαστο, πληροφορίες που παρέχουν οι εφαρμογές της MasterBet αφού ΜΕ ΜΑΤΙΑ, ΣΕ ΜΙΑ ΟΘΟΝΗ βρίσκει ό,τι χρειάζεται για τα αγαπημένα του παιχνίδια.</p>
    </div>
    <div class="col-md-7">
      <div id="map_canvas"></div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(38.013083, 22.749513),
          zoom: 20,
          mapTypeId: google.maps.MapTypeId.SATELLITE
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>


</div>
</div>
</div>




