<% provide(:title, 'Αποτελέσματα') %>
<div class="top">
	<div class="container marketing">
  		<div class="row">	
			<iframe src="http://masterhttp.info/sifakas/games/" frameborder="0" width="1280" height="900" scrolling="auto">
			</iframe>
		</div>
	</div>
</div>