	<li>
      	<%= link_to user.name, user %>
      	<%= link_to user.email, user %>
      	<% if current_user.admin? && !current_user?(user) %>
    | 	<%= link_to "Διαγραφή", user, method: :delete,
                                  data: { confirm: "Είστε σίγουρος για την διαγραφή;" } %>
  		<% end %>
    </li>