<% provide(:title, @user.name ) %>
<div class="top">
<div class="container marketing">
  <div class="row">
    <div class="col-xs-6 .col-md-4">
    <% if signed_in? %>
      <% if @user.admin? %>
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    <% end %>
    </div>
    <div class="col-xs-12 .col-md-8">
      <h3>Οι δημοσιεύσεις μου</h3>
      <%= render 'shared/feed' %>
    </div>
    
      
  
<% else %>
  <div class="center hero-unit">
    <%= link_to "Γραφτείτε για να συμμετάσχετε!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
</div>
</div>