
<li align=left id="<%= gallery_feed_item.id %>" class="feed">
  
  <hr class="featurette-divider">
  <div class="col-6 col-sm-6 col-lg-4">

    <% if gallery_feed_item.image_url != nil %>
      <a href="<%= gallery_feed_item.image_url.to_s %>" title="Masterbet" data-gallery>
        <img src="<%= gallery_feed_item.image_url(:thumb).to_s %>" alt="Masterbet">
      </a>
      
    <% end %>
    <% if current_user?(gallery_feed_item.user) %>
      <%= link_to "Διαγραφή εικόνας", gallery_feed_item, method: :delete,
              data: { confirm: "Είστε σίγουρος για την διαγραφή του σχολίου;" },
          title: gallery_feed_item.content %>
    <% end %>
    </div>
</li>