<% provide(:title, @micropost.content ) %>
<div class="top">
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
    
    </div>
    <div class="col-lg-4">
      <h3><%= @micropost.content %></h3>
      
    </div>
    
      
  

</div>
</div>
</div>