<footer class="footer">
  <small>
    <a href="http://www.masterbet.gr/">Δοκιμαστικό για MasterBet</a>
    από τον Γιάννη Κουμούτσο
  </small>
  <nav>
    <ul>
      <li><a href="http://www.in.gr">Νέα</a></li>
    </ul>
  </nav>
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>