<footer class="footer">
  <small>
    <a href="http://www.masterbet.gr/">MasterBet Application</a>
    από τον Γιάννη Κουμούτσο
  </small>
  <p class="pull-right"><a href="#">Back to top</a></p>
</footer>