<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <%= link_to image_tag("results.jpg", alt: "Rails"), 'results' %>
          <h2>Αποτελέσματα</h2>
          <p>Κείμενο για τα αποτελέσματα.</p>
          <p><a class="btn btn-default" href="#" role="button">Δείτε λεπτομέρειες »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;" class="img-circle" data-src="holder.js/140x140" alt="140x140">
          <h2>Κέρδη-Επιτυχίες</h2>
          <p>Κείμενο για Κέρδη-Επιτυχίες.</p>
          <p><a class="btn btn-default" href="#" role="button">Δείτε λεπτομέρειες »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;" class="img-circle" data-src="holder.js/140x140" alt="140x140">
          <h2>Προγνωστικά</h2>
          <p>Κείμενο για προγνωστικά.</p>
          <p><a class="btn btn-default" href="#" role="button">Δείτε λεπτομέρειες »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
