<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
        <div style="width:220px;text-align:right;line-height:15px;">
         <iframe src="http://agones.gr/ticker_frontpages_show.php?width=220"
         width="220" height="286" scrolling=no marginwidth=0 marginheight=0 frameborder=0 border=0
         style="border:0;margin:0;padding:0;"></iframe><br />
         </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div style="width:600px;text-align:right;line-height:11px;">
            <iframe src="http://ticker.agones.gr/ticker_tziros_show.php?navigation=yes&color=0000ff&bgcolor=ffffff" width="600" height="400" scrolling=auto marginwidth=0 marginheight=0 frameborder=0 border=0 style="border:0;margin:0;padding:0;"></iframe>
          </div>          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <div style="width:250px;text-align:right;line-height:11px;font-size:14px">
            <iframe src="http://ticker.agones.gr/ticker2_vscroll_show.php?speed=1500&color=&color2=&bgcolor=363942&bgcolor2=ffffff&bgcolor1=efefef&font=11&width=250&height=250" width="250" height="250" scrolling=no marginwidth=0 marginheight=0 frameborder=0 border=0 style="border:0;margin:0;padding:0;"></iframe>
          </div>      
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
